<div id="app" class="p-4 bg-slate-800/95">

  <div class="grid center grid-cols-2">
    <form
      action="/api/products"
      id="addProductForm"
      method="post"
      enctype="multipart/form-data"
  
    >
      <h3
        class="flex p-2 justify-center font-mono text-lg text-slate-200"
      >Subir nuevo Producto</h3>
      <div class="relative z-0 w-full mb-6 group">
        <input
          type="text"
          name="title"
          id="title"
          
          placeholder=" "
          Requerido
        />
        <label
          for="title"
         
        >Titulo</label>
      </div>
      <div class="relative z-0 w-full mb-6 group">
        <input
        
          placeholder=" "
          type="text"
          name="description"
          id="description"
          Requerido
        />
        <label
         
          for="description"
        >Descripcion</label>
      </div>
      <div class="relative z-0 w-full mb-6 group">
        <input
         
          placeholder=" "
          type="text"
          name="code"
          id="code"
          Requerido
        />
        <label
      
          for="code"
        >Code</label>
      </div>
      <div class="relative z-0 w-full mb-6 group">
        <input
         
          placeholder=" "
          type="number"
          name="price"
          id="price"
          Requerido
        />
        <label
          
          for="price"
        >Precio</label>
      </div>
      <div class="relative z-0 w-full mb-6 group">
        <input
         
          placeholder=" "
          type="number"
          name="stock"
          id="stock"
          Requerido
        />
        <label
         
          for="stock"
        >Stock</label>
      </div>
      <div class="relative z-0 w-full mb-6 group">
        <input
         
          placeholder=" "
          type="text"
          name="category"
          id="category"
          Requerido
        />
        <label
         
          for="category"
        >Categoria</label>
      </div>
            <div class="relative z-0 w-full mb-6 group">
        <input
         
          placeholder=" "
          type="text"
          name="owner"
          id="owner"
          Requerido
        />
        <label
         
          for="owner"
        >Owner</label>
      </div>
      <div class="relative z-0 w-full mb-6 group -mt-1">
        <label
         
          for="thumbnails"
        >Foto</label>
        <input
         
          type="file"
          id="thumbnails"
          name="thumbnails"
          multiple
        />

      </div>
      <button
        type="submit"
      
      >Enviar</button>
      
    </form>