<div id="productsList">
    <p id="log"></p>
    <h1>Bienvenido a BarberShop</h1>
    <h2>Lista de productos:</h2>
    <div id="listproducts">
    </div>
    <div id="imageproducts"></div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>